.sidebar-container {
  display: flex;
  height: 100vh;
  background: rgb(7, 36, 62);
}

.sidebar {
  background: rgb(7, 36, 62);
  width: 250px;
  padding: 20px;
  color: white;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 150px;
}

.links-container {
  margin-top: 20px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 18px;
}

.outlet {
  flex-grow: 1;
}

.header {
  background: rgb(7, 36, 62);
  font-size: 24px;
  text-align: center;
  color: white;
}

.outlet-background {
  background-image: linear-gradient(to bottom,
      rgba(174, 189, 159, 0.85),
      rgba(4, 14, 34, 0.85)),
    url("https://img.freepik.com/free-photo/education-concept-books-laptop-library_1150-10586.jpg?w=740&t=st=1679774778~exp=1679775378~hmac=d20465d33fae35326f18d34564eaca0f58f5fee8f43443d91dc8781759928d93");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 88vh;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}